.pokemon-box {
    display: inline-block;
    padding: 5px;
    border: 1px solid black;
    margin: 5px;
    width: 130px;
    text-align: center;
    height: 60px;
    vertical-align: top;
	cursor: pointer;
}

.pokemon-data-row {
	width: 100%;
	margin: 0 auto;
	margin-top: 15px;
	border-top: 1px solid black;
	padding-top: 15px;
}

.pokemon-img {
	padding: 15px;
	border: 1px solid black;
}

.pokemon-name {
	text-align:center;	
}

.header-bar {
    padding: 15px;
    background-color: red;
    color: white;
}

.title {
    font-size: 36px;
    font-weight: 800;
}

#pokemonSearch {
    width: 95%;
    padding: 10px;
    border: 1px solid black;
}

.main-container {
    width: 90% !important;
    display: block !important;
    position: relative !important;
    margin: 15px auto !important;
    padding: 20px;
}

#backButton {
    float: right;
    width: 25%;
    background-color: white;
    border: 1px solid black;
    padding: 15px;
    cursor: pointer;
}